@charset "UTF-8";
:root {
  --primary: #262d3d;
  --light-green: #00cc83;
  --dark-green: #099e6a;
  --blue: #204ecf;
  --dark-blue: #0f256e;
}

@font-face {
  font-family: "proxima-nova";
  src: url("Demo_Fonts/Fontspring-DEMO-proximanova-light.otf"), url("Demo_Fonts/Fontspring-DEMO-proximanova-regular.otf"), url("Demo_Fonts/Fontspring-DEMO-proximanova-bold.otf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: proxima-nova, sans-serif;
}

a,
ul,
li {
  list-style: none;
  text-decoration: none;
}

.main {
  padding-top: 4rem;
}

.button {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 0.5rem 1.5rem;
  color: white;
  background-color: var(--light-green);
  border: 1px solid var(--light-green);
}
.button:hover {
  background-color: var(--dark-green);
  transition: 0.2s ease-in-out;
  color: white;
}

.title {
  font-size: 3.25rem;
  font-weight: 300;
  line-height: 4rem;
  text-align: center;
}

.right__hamburger {
  display: none;
}

@media (max-width: 1115px) {
  .right__hamburger {
    display: block;
  }
}
.header {
  padding: 0 2rem 0 4rem;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1000;
  top: 0;
  left: 0;
}
.header__left {
  display: flex;
  margin-right: 2rem;
}
.header__center {
  flex-grow: 1;
}
.header__right {
  margin-left: 15%;
}
@media (max-width: 1235px) {
  .header__right {
    margin-left: 10%;
  }
}
@media (max-width: 1170px) {
  .header__right {
    margin-left: 5%;
  }
}
.header__container {
  display: flex;
  height: 4rem;
  align-items: center;
  flex: 1;
}
.header__hamburger {
  background-color: transparent;
  border: none;
}
.header__hamburger-icon {
  height: 2rem;
}
.header__logo {
  height: 2rem;
}
.header__menu {
  display: flex;
  gap: 1.2rem;
}
.header__dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem 0.5rem;
  display: none;
  box-shadow: 1px 2px 3px rgb(202, 202, 202);
  font-size: 0.875rem;
}
.header__dropdown-link {
  color: black;
  height: 100%;
  width: 100%;
  display: block;
  white-space: nowrap;
  padding: 0.5rem;
}
.header__dropdown-link:hover {
  color: var(--blue);
}
.header__item--arrow::after {
  content: "▼"; /* Unicode character for downward arrow */
  font-size: 0.6em; /* Adjust the size as needed */
}
.header__title {
  font-size: 1.875rem;
  letter-spacing: -1px;
  line-height: 29px;
  white-space: nowrap;
  margin-top: 0.3rem;
  font-weight: lighter;
}
.header__link {
  font-size: 0.875rem;
  white-space: nowrap;
  color: var(--primary);
}
.header__link--button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header__link--white {
  color: white !important;
}
.header__link:hover {
  color: rgb(119, 119, 119);
}

.right__list {
  display: flex;
  gap: 1rem;
}

.header__hamburger-container {
  width: 450px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.hamburger__line {
  width: 500px;
  overflow: hidden;
  height: 1.5px;
  background-color: #d6d6d6;
}
.hamburger__logo {
  height: 3.5rem;
  width: auto;
}
.hamburger__logo-container {
  padding-bottom: 1.5rem;
}
.hamburger__title {
  font-size: 0.9rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  color: #67676d;
  white-space: nowrap;
  padding: 2rem 0 1.5rem 0;
}
.hamburger__title-container {
  display: flex;
  flex: row;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.hamburger__video-button {
  height: 1.5rem;
  top: 100px;
}
.hamburger__top {
  display: flex;
  gap: 1rem;
}
.hamburger__top-button {
  position: absolute;
  bottom: 1rem;
}
.hamburger__top-link {
  display: block;
  width: 100%;
  height: 100%;
}
.hamburger__top-item {
  background-image: url(images/why_background-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 33.3333%;
  height: 188px;
  padding: 0.5rem 0 1rem 1rem;
  position: relative;
}
.hamburger__top-item--first {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/why_background-4.jpg);
}
.hamburger__top-item--first:hover {
  background-image: linear-gradient(rgba(41, 37, 77, 0.3), rgba(24, 9, 110, 0.3)), url(images/why_background-4.jpg);
}
.hamburger__top-item--second {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/why_background-5.jpg);
}
.hamburger__top-item--second:hover {
  background-image: linear-gradient(rgba(41, 37, 77, 0.3), rgba(24, 9, 110, 0.3)), url(images/why_background-5.jpg);
}
.hamburger__top-item--third {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/why_background-3.jpg);
}
.hamburger__top-item--third:hover {
  background-image: linear-gradient(rgba(41, 37, 77, 0.3), rgba(24, 9, 110, 0.3)), url(images/why_background-3.jpg);
}
.hamburger__top-text {
  color: white;
  font-size: 0.75rem;
}
.hamburger__top-image {
  height: auto;
  width: 66px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.hamburger__center {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.hamburger__center-item {
  width: 118px;
  height: 128px;
  background-color: var(--dark-blue);
  color: white;
  padding: 1rem;
  position: relative;
}
.hamburger__center-item:hover {
  background-color: var(--blue);
  transition: 0.2s ease-in;
}
.hamburger__center-link {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 0.75rem;
  line-height: 1rem;
}
.hamburger__center-icon {
  height: 2rem;
  border-radius: 50%;
}
.hamburger__center-text {
  position: absolute;
}
.hamburger__center-text--top {
  top: 75%;
}
.hamburger__center-text--bottom {
  top: 55%;
}
.hamburger__bottom {
  background-color: #252525;
  padding: 2rem 0rem;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: center;
}
.hamburger__bottom-img {
  height: 1.1rem;
}
.hamburger__bottom-item:hover {
  transform: scale(1.5);
  transition: transform 0.1s ease-in-out;
}

.first {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 5%;
}
@media (max-width: 1200px) {
  .first {
    width: 80%;
  }
}
@media (max-width: 1050px) {
  .first {
    width: 90%;
  }
}
@media (max-width: 950px) {
  .first {
    flex-direction: column;
  }
}
.first__left {
  margin-top: 25vh;
}
@media (max-width: 950px) {
  .first__left {
    margin-top: 3vh;
    text-align: center;
  }
}
@media (max-width: 625px) {
  .first__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.first__right {
  margin-top: 10vh;
}
.first__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  background-color: white;
}
@media (max-width: 950px) {
  .first__container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: auto;
  }
  .first__container .first__item--additional {
    display: flex;
  }
  .first__container .first__image {
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 770px) {
  .first__container .first__item {
    display: none;
  }
  .first__container :nth-child(-n+2) {
    display: flex;
  }
}
.first__item {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 2px 5px rgba(151, 148, 148, 0.3);
}
.first__item--additional {
  display: none;
}
.first__image {
  height: 10rem;
  padding-bottom: 1rem;
  border-bottom-left-radius: 30px;
}
.first__image-text {
  position: absolute;
  top: 4rem;
  left: 1rem;
  font-size: 16px;
  font-weight: 600;
  color: white;
  transition: color 0.25s ease-in-out;
}
.first__name {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 20px;
  padding-left: 1rem;
  padding-bottom: 0.2rem;
  color: var(--blue);
}
.first__name:hover {
  text-decoration: underline;
}
.first__verified {
  color: var(--dark-green);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 16px;
}
.first__verified-container {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  padding-left: 1rem;
}
.first__verified-logo {
  height: 0.8rem;
}
.first__in-design {
  font-size: 0.75rem;
  color: var(--dark-green);
  line-height: 16px;
  padding-left: 2rem;
}
.first__position {
  font-size: 0.75rem;
  color: var(--primary);
  line-height: 16px;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.header__item:hover .header__dropdown {
  display: block;
}

.left {
  margin-right: 2rem;
}
@media (max-width: 950px) {
  .left {
    width: 100%;
  }
  .left__title {
    white-space: nowrap;
    text-align: center;
  }
  .left__text {
    margin-left: 25%;
  }
}
@media (max-width: 780px) {
  .left__text {
    margin-left: 20%;
  }
}
@media (max-width: 780px) and (max-width: 625px) {
  .left__text {
    margin: auto;
  }
}
.left__title {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1em;
  padding-bottom: 1rem;
}
.left__title-link {
  color: black;
  border-bottom: 1px solid black;
}
.left__text {
  font-size: 0.875rem;
  line-height: 1.2rem;
  width: 370px;
  margin-bottom: 2rem;
}
.left__button {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 0.75rem 3rem;
}
.left__under-button {
  margin-top: 1.2rem;
  font-size: 12px;
  padding-left: 2rem;
}

.brands {
  background-color: #f6f8fb;
}
.brands__container {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
  align-items: center;
}
@media (max-width: 1250px) {
  .brands__container {
    gap: 0.5rem;
  }
}
@media (max-width: 900px) {
  .brands__container {
    gap: 1.5rem;
  }
}
@media (max-width: 610px) {
  .brands__container {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    gap: 0;
  }
}
@media (max-width: 1200px) {
  .brands__item:nth-child(2) {
    display: none;
  }
  .brands__item:nth-child(3) {
    display: none;
  }
}
@media (max-width: 900px) {
  .brands__item:nth-child(4) {
    display: none;
  }
  .brands__item:nth-child(5) {
    display: none;
  }
}
.brands__image {
  height: 1.2rem;
  opacity: 0.5;
}
.brands__title {
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #afafaf;
  font-weight: 600;
  padding-right: 1rem;
  white-space: nowrap;
}
@media (max-width: 610px) {
  .brands__title {
    display: block;
    text-align: center;
    font-size: 1rem;
    color: #858484;
    padding-bottom: 1rem;
  }
}
.brands__link {
  color: var(--blue);
  font-size: 0.5rem;
  display: block;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}
.brands__link:hover .brands__link-text {
  padding-left: 10px;
}
.brands__link:hover .brands__image {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.brands__link-text {
  padding-top: 0.7rem;
  text-transform: uppercase;
  text-align: center;
}

.customers-say {
  margin-top: 10vh;
  margin-bottom: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media (max-width: 750px) {
  .customers-say__reviews {
    display: none;
  }
}
@media (max-width: 600px) {
  .customers-say__link {
    display: none;
  }
}
.customers-say__link {
  color: var(--primary);
  font-size: 0.92rem;
}
.customers-say__excellent {
  color: var(--primary);
  font-weight: 700;
}
.customers-say__reviews {
  color: var(--primary);
  font-size: 0.92rem;
}
.customers-say__stars-photo {
  height: 1.5rem;
}
.customers-say__trustpilot-photo {
  height: 3.5rem;
}

.hire {
  padding: 0 2rem;
  padding-bottom: 23vh;
}
@media (max-width: 720px) {
  .hire {
    padding-bottom: 0vh;
  }
}
.hire__title {
  font-size: 3.25rem;
  font-weight: 300;
  line-height: 4rem;
  text-align: center;
  gap: 1rem;
  margin-bottom: 10vh;
}
@media (max-width: 1150px) {
  .hire__title {
    font-size: 2.75rem;
  }
}
@media (max-width: 906px) {
  .hire__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}
@media (max-width: 720px) {
  .hire__title {
    font-size: 2rem;
    line-height: 2.25rem;
    margin-bottom: 5vh;
  }
}
.hire__steps {
  display: flex;
  gap: 1.4rem;
  margin-bottom: 10vh;
}
@media (max-width: 710px) {
  .hire__steps {
    flex-direction: column;
  }
  .hire__steps-column {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 710px) and (max-width: 490px) {
  .hire__steps {
    display: none;
  }
}
.hire__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 710px) {
  .hire__item {
    flex-direction: column;
    gap: 4rem;
  }
  .hire__item .hire__line {
    transform: rotate(90deg);
  }
  .hire__item .hire__line--blue {
    width: 4rem;
    position: relative;
    bottom: 2rem;
  }
}
.hire__line {
  position: relative;
}
.hire__line--grey {
  width: 10rem;
  height: 1.5px;
  background-color: rgb(212, 212, 212);
}
@media (max-width: 1270px) {
  .hire__line--grey {
    width: 9rem;
  }
}
@media (max-width: 1218px) {
  .hire__line--grey {
    width: 8rem;
  }
}
@media (max-width: 1150px) {
  .hire__line--grey {
    width: 6.5rem;
  }
}
@media (max-width: 1060px) {
  .hire__line--grey {
    width: 4rem;
  }
}
@media (max-width: 906px) {
  .hire__line--grey {
    width: 2.5rem;
  }
}
@media (max-width: 710px) {
  .hire__line--grey {
    visibility: hidden;
  }
}
.hire__line--blue {
  background-color: var(--blue);
  width: 20rem;
  height: 1.5px;
}
@media (max-width: 1270px) {
  .hire__line--blue {
    width: 19rem;
  }
}
@media (max-width: 1270px) {
  .hire__line--blue {
    width: 18rem;
  }
}
@media (max-width: 1150px) {
  .hire__line--blue {
    width: 16.5rem;
  }
}
@media (max-width: 1060px) {
  .hire__line--blue {
    width: 14rem;
  }
}
@media (max-width: 906px) {
  .hire__line--blue {
    width: 12.5rem;
  }
}
@media (max-width: 815px) {
  .hire__line--blue {
    width: 10.5rem;
  }
}
@media (max-width: 750px) {
  .hire__line--blue {
    width: 8.5rem;
  }
}
.hire__number {
  font-size: 2rem;
  font-weight: 300;
  line-height: 60px;
  color: var(--blue);
  border: 1px solid #204ECF;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  text-align: center;
}
@media (max-width: 710px) {
  .hire__number {
    font-size: 20px;
    line-height: 28px;
    width: 1.5em;
    height: 1.5em;
  }
}
.hire__arrow--grey {
  height: 20px;
  width: 20px;
  background-color: white;
  transform: rotateX("90deg");
  border: 1px solid #d3d3d3;
  border-left: none;
  border-bottom: none;
  text-align: center;
  transform: rotate(45deg);
  z-index: -10;
  position: absolute;
  left: 89%;
  bottom: -10px;
}
.hire__arrow--blue {
  height: 20px;
  width: 20px;
  background-color: white;
  transform: rotateX("90deg");
  border: 1px solid var(--blue);
  border-left: none;
  border-bottom: none;
  text-align: center;
  transform: rotate(45deg);
  z-index: -10;
  position: absolute;
  left: 94%;
  bottom: -10px;
}
.hire__section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 710px) {
  .hire__section {
    display: flex;
    flex-direction: column;
  }
}
.hire__section-text {
  padding-top: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: var(--primary);
  opacity: 0.7;
  width: 80%;
}
@media (max-width: 710px) {
  .hire__section-text {
    font-size: 14px;
    width: 100%;
    padding-bottom: 2rem;
  }
}
@media (max-width: 550px) {
  .hire__section-text {
    padding-bottom: 0.5rem;
  }
}

.find {
  width: 89%;
  margin: 0 auto;
  margin-bottom: 20vh;
}
@media (max-width: 1000px) {
  .find {
    width: 95%;
  }
}
.find__main {
  background-color: #ebeced;
  display: flex;
  border-radius: 4px;
}
@media (max-width: 720px) {
  .find__main {
    flex-direction: column;
  }
}
.find__title {
  color: var(--primary);
  padding-bottom: 1.5rem;
}
@media (max-width: 780px) {
  .find__title {
    font-size: 2rem;
    padding-bottom: 1rem;
  }
}
@media (max-width: 520px) {
  .find__title {
    font-size: 1.6rem;
    margin-top: 10vh;
    line-height: 1.5em;
  }
}
.find__text {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  width: 70%;
  color: var(--primary);
  opacity: 0.8;
  margin-bottom: 2rem;
  margin-left: 15%;
}
@media (max-width: 1080px) {
  .find__text {
    width: 90%;
    margin-left: 5vh;
  }
}
@media (max-width: 780px) {
  .find__text {
    font-size: 1rem;
  }
}
.find__text-link {
  color: var(--primary);
  font-weight: 600;
}
.find__text-link:hover {
  color: var(--blue);
}
.find__arrow {
  height: 1rem;
  position: relative;
  top: 3px;
}
.find__item {
  border-right: 1px solid rgb(209, 209, 209);
}
@media (max-width: 720px) {
  .find__item {
    border-top: 1px solid rgb(192, 192, 192);
  }
}
.find__item:hover .find__arrow {
  padding-left: 0.5rem;
}
.find__item:hover {
  background-color: var(--blue);
  transition: 0.2s ease-in-out;
}
.find__item:hover .find__item-text {
  color: white;
  transition: 0.2s ease-in-out;
}
.find__item:hover .find__item-title {
  color: white;
  transition: 0.2s ease-in-out;
  opacity: 1;
}
.find__item:hover .find__item-under {
  color: white;
  transition: 0.2s ease-in-out;
}
.find__item-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 4rem;
  color: rgb(63, 63, 63);
  padding-left: 2rem;
  padding-top: 2.5rem;
}
@media (max-width: 720px) {
  .find__item-title {
    padding-top: 1rem;
    font-size: 1.25rem;
  }
}
.find__item-text {
  padding-top: 2rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: var(--primary);
  width: 90%;
  padding-left: 2rem;
}
@media (max-width: 720px) {
  .find__item-text {
    padding-top: 0.5rem;
  }
}
.find__item-under {
  color: var(--blue);
  font-weight: 900;
  padding-top: 5rem;
  padding-bottom: 2.5rem;
  padding-left: 2rem;
}
@media (max-width: 720px) {
  .find__item-under {
    padding-top: 3rem;
  }
}

.categories {
  width: 89%;
  margin: 0 auto;
}
.categories__container {
  margin-bottom: 15vh;
}
@media (max-width: 780px) {
  .categories__title {
    font-size: 2rem;
  }
}
.categories__text {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
  width: 100%;
  color: var(--primary);
  margin-bottom: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
@media (max-width: 780px) {
  .categories__text {
    font-size: 1rem;
    padding-bottom: 1rem;
  }
}
.categories__wrapper {
  display: flex;
  justify-content: space-between;
}
.categories__item {
  padding: 0.5rem 0rem;
}
.categories__column-item {
  padding: 0.5rem 0rem;
}
@media (max-width: 760px) {
  .categories__column-item {
    padding: 0.4rem;
  }
}
.categories__column-item--flex {
  display: flex;
  gap: 0.5rem;
}
.categories__column-item--flex:hover {
  gap: 1rem;
}
.categories__column-link {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: var(--primary);
  opacity: 0.7;
}
@media (max-width: 760px) {
  .categories__column-link {
    line-height: 1.2rem;
  }
}
.categories__column-link:hover {
  color: var(--blue);
  text-decoration: underline;
  opacity: 1;
}
.categories__show-all {
  font-size: 0.875rem;
  color: var(--blue);
  border-bottom: 1.5px solid var(--dark-blue);
}
.categories__arrow {
  height: 1rem;
}

.schedule {
  margin-bottom: 10vh;
}
.schedule__container {
  background-color: var(--dark-blue);
  padding: 10vh 20vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
@media (max-width: 650px) {
  .schedule__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10vh;
  }
}
.schedule__title {
  font-size: 1.75rem;
  color: white;
  opacity: 0.9;
  font-weight: 100;
  padding-bottom: 1rem;
}
.schedule__text {
  font-size: 1.2rem;
  color: white;
  opacity: 0.7;
  font-weight: 100;
}
.schedule__right {
  padding-top: 2.2rem;
  padding-left: 3rem;
}
@media (max-width: 650px) {
  .schedule__right {
    padding-left: 0rem;
  }
}
.schedule__link {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.9rem 3rem;
  background-color: var(--light-green);
  border-radius: 5px;
  color: white;
  white-space: nowrap;
}
@media (max-width: 650px) {
  .schedule__link {
    display: block;
    width: 100%;
  }
}
.schedule__link:hover {
  background-color: var(--dark-green);
}

.designers__wrapper {
  display: flex;
  justify-content: center;
  gap: 4.5rem;
}
.designers__title {
  font-size: 3rem;
  opacity: 0.7;
  padding-bottom: 3vh;
}
.designers__title-r {
  font-size: 1.5rem;
}
.designers__image {
  height: 6rem;
  padding-bottom: 1rem;
}
.designers__face {
  position: absolute;
  top: 4.5rem;
  left: -25%;
}
@media (max-width: 960px) {
  .designers__face {
    top: 6.5rem;
  }
}
@media (max-width: 860px) {
  .designers__face {
    top: 1rem;
    left: 30%;
  }
}
@media (max-width: 580px) {
  .designers__face {
    top: 1rem;
    left: 30%;
  }
}
.designers__img {
  height: 24rem;
}
@media (max-width: 1200px) {
  .designers__img {
    height: 20rem;
  }
}
@media (max-width: 960px) {
  .designers__img {
    height: 18rem;
  }
}
@media (max-width: 860px) {
  .designers__img {
    height: 22rem;
  }
}
@media (max-width: 770px) {
  .designers__img {
    height: 20rem;
  }
}
@media (max-width: 648px) {
  .designers__img {
    height: 18rem;
  }
}
@media (max-width: 580px) {
  .designers__img {
    height: 16rem;
  }
}
@media (max-width: 480px) {
  .designers__img {
    height: 14rem;
  }
}
@media (max-width: 430px) {
  .designers__img {
    height: 12rem;
  }
}
.designers__button {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding-bottom: 2rem;
}
.designers__button:hover {
  position: relative;
  top: 0.5rem;
  border-top: 1px solid var(--blue);
}
.designers__name {
  text-align: center;
  color: var(--dark-blue);
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 900;
}
.designers__container {
  display: flex;
  position: absolute;
  left: 50vh;
}
@media (max-width: 860px) {
  .designers__container {
    left: 0vh;
  }
}
.designers__container--jenna {
  display: block;
  opacity: 1;
}
.designers__container--danielle {
  display: none;
  opacity: 0;
  transition: opacity 1s;
}
.designers__container--fabio {
  display: none;
  opacity: 0;
  transition: opacity 1s;
}
.designers__content {
  display: flex;
  flex-direction: column;
  background-color: #ebeced;
  padding-left: 10rem;
  width: 90%;
  border: 1px solid #d0d0d1;
}
@media (max-width: 860px) {
  .designers__content {
    width: 100%;
    padding-left: 2rem;
    padding-top: 45%;
    text-align: center;
  }
}
.designers__item {
  margin-bottom: 30vh;
}
@media (max-width: 860px) {
  .designers__item {
    margin-bottom: 100vh;
  }
}
@media (max-width: 850px) {
  .designers__item {
    margin-bottom: 87.5vh;
  }
}
.designers__title--margin {
  width: 100%;
  font-size: 2rem;
  color: var(--primary);
  padding-top: 3rem;
  padding-bottom: 0.7rem;
}
.designers__title--margin:hover {
  color: var(--blue);
}
.designers__job {
  color: #9a9a9b;
  font-weight: 300;
}
.designers__description {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 27px;
  color: var(--primary);
  opacity: 0.8;
  margin: 1.5rem 0;
  width: 95%;
}
.designers__previously-text {
  color: black;
  opacity: 0.7;
  padding-bottom: 0.5rem;
}
.designers__previously-image {
  height: 2rem;
  opacity: 0.7;
}
.designers__bottom-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 7%;
  padding-bottom: 4%;
  padding-top: 4rem;
  align-items: center;
}
@media (max-width: 960px) {
  .designers__bottom-content {
    padding-top: 1rem;
  }
}
.designers__button-link {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 1rem 2rem;
  color: white;
}

.designers__item:hover .designers__container {
  display: block;
  opacity: 1;
}

.sign-up {
  margin-top: 100vh;
  height: 20vh;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 15vh;
}
@media (max-width: 790px) {
  .sign-up {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.sign-up__title {
  font-size: 1.5rem;
  color: var(--primary);
}

.sign-up__link {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 28px;
  padding: 0.75rem 3rem;
}

.why {
  width: 93%;
  margin: 0 auto 15vh auto;
}
.why__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5rem;
}
.why__item {
  padding: 2rem;
  height: 414px;
  min-width: 290px;
  flex: 1;
  position: relative;
}
.why__item:nth-child(2) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/why_background-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.why__item:nth-child(2):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(66, 17, 228, 0.9));
  transition: 0.3s;
}
.why__item:nth-child(3) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/why_background2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.why__item:nth-child(3):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(128, 36, 202, 0.9));
  transition: 0.3s;
}
.why__item:nth-child(4) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/why_background-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.why__item:nth-child(4):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(49, 17, 228, 0.9));
  transition: 0.3s;
}
.why__item:nth-child(5) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/why_background-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.why__item:nth-child(5):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(168, 17, 228, 0.9));
  transition: 0.3s;
}
.why__item:nth-child(6) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/why_background-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.why__item:nth-child(6):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(17, 116, 228, 0.9));
  transition: 0.3s;
}
.why__item:nth-child(7) {
  flex: 0 0 31.2%;
}
.why__item:nth-child(8) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/why_background-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.why__item:nth-child(8):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(17, 168, 228, 0.9));
  transition: 0.3s;
}
.why__item:nth-child(9) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/why_background-5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.why__item:nth-child(9):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(17, 186, 228, 0.9));
  transition: 0.3s;
}
.why__item:nth-child(10) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/why_background6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.why__item:nth-child(10):hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(66, 17, 228, 0.9));
}
.why__item-container {
  width: 100%;
}
.why__title-no-video {
  font-size: 2.75rem;
  font-weight: 300;
  line-height: 3.5rem;
  color: var(--primary);
  padding-top: 3rem;
}
.why__title-with-video {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.6rem;
  padding: 2rem 0 4rem 0;
  color: white;
}
.why__text {
  font-size: 1rem;
  line-height: 1.5rem;
  padding-top: 1rem;
  color: black;
  opacity: 0.7;
}
.why__item:hover .why__company-image {
  transform: scale(1.15);
  transition: 0.3s ease-in-out;
}
.why__company-image {
  max-height: 100%;
  max-width: 200px;
}
.why__image-container {
  height: 85px;
  width: 312px;
}
.why__name {
  line-height: 1.5rem;
  color: white;
  font-weight: 700;
  position: absolute;
  top: 70%;
}
.why__name--hidden {
  visibility: hidden;
}
.why__position {
  font-size: 0.8rem;
  line-height: 1.2rem;
  color: #9a9a9b;
  font-weight: 700;
  position: absolute;
  top: 77%;
}
.why__position--hidden {
  visibility: hidden;
}
.why__video {
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: none;
  height: 2rem;
  color: white;
  font-weight: 700;
}
.why__video-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: absolute;
  top: 85%;
  cursor: pointer;
}
.why__play {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid #3498db;
  position: relative;
  top: 0.4rem;
}
.why__read-icon {
  height: 2rem;
}
.why__read-text {
  color: white;
  height: 2rem;
  color: white;
  font-weight: 700;
}
.why__read-container {
  display: flex;
  gap: 1rem;
  position: absolute;
  top: 85%;
}

.hire-top {
  display: initial;
  text-align: center;
}
.hire-top__title {
  font-size: 2rem;
  padding-bottom: 1rem;
}
.hire-top__button {
  padding-left: 4rem;
  padding-right: 4rem;
}

.faq {
  margin: 15vh 0;
}
.faq__title {
  font-size: 2.75rem;
}
.faq__arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid var(--dark-blue); /* Adjust color as needed */
  position: relative;
  top: 0.6rem;
  right: 0.5rem;
}
.faq__container:hover .faq__arrow {
  border-top: 15px solid var(--blue);
}
.faq__item {
  padding: 1rem 20vh;
}
.faq__container {
  display: flex;
  cursor: pointer;
}
.faq__button {
  font-size: 1.375rem;
  color: var(--dark-blue);
  line-height: 2rem;
}
.faq .faq__text {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 300;
  color: #858484;
  padding-top: 0.5rem;
  display: none;
}

.freelance-devs {
  width: 90%;
  margin: 0 auto 15vh auto;
  border-top: 1px solid rgb(216, 216, 216);
  padding-top: 12vh;
}
.freelance-devs__title {
  font-weight: 300;
  color: var(--primary);
  opacity: 0.9;
  text-align: center;
  padding-bottom: 2rem;
}
.freelance-devs__container {
  display: grid;
  background-color: #e6e6e6;
  grid-template-columns: 1fr 1fr 1fr;
}
.freelance-devs__item-link {
  display: flex;
  border: 1px solid rgb(214, 214, 214);
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}
.freelance-devs__item-link:hover {
  background-color: #EDF1FD;
}
.freelance-devs__logo {
  width: 2rem;
  height: 2rem;
  padding-right: 1rem;
}
.freelance-devs__text {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--dark-blue);
  white-space: nowrap;
}
.freelance-devs__item:hover .freelance-devs__text {
  color: var(--blue);
}
.freelance-devs__arrow {
  height: 1.5rem;
  padding-left: 9rem;
}

.article {
  background-color: var(--primary);
}
.article__title {
  color: white;
  font-size: 2.75rem;
  font-weight: 100;
  padding-top: 15vh;
}
.article__text {
  font-size: 1.25rem;
  color: white;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}
.article__container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  gap: 1.5rem;
}
.article__main-content {
  padding: 2rem;
}
.article__link--first:hover .article__background-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(23, 48, 190, 0.5)), url(images/bg-1.jpg) center/cover no-repeat;
}
.article__link--second:hover .article__background-image {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(23, 48, 190, 0.5)), url(images/bg-2.jpg) center/cover no-repeat;
}
.article__background-image {
  height: 40vh;
  position: relative;
}
.article__background-image--first {
  background: url(images/bg-1.jpg) center/cover no-repeat;
}
.article__background-image--second {
  background: url(images/bg-2.jpg) center/cover no-repeat;
}
.article__profile-photo {
  height: 4.5rem;
  position: absolute;
  top: 85%;
  left: 2rem;
  background-color: white;
  border-bottom-left-radius: 25px;
  padding-bottom: 0.7rem;
}
.article__item {
  background-color: white;
  box-shadow: 0px 1px 2px 1px #67676d;
  width: 100%;
  flex: 1;
}
.article__item:hover {
  box-shadow: 0px 1px 7px 3px var(--primary);
  border-bottom: 0.5px solid var(--blue);
}
.article__item:hover .article__item-title {
  color: var(--blue);
}
.article__item:hover .article__hover {
  display: flex;
}
.article__item-title {
  font-size: 1.625rem;
  line-height: 2rem;
  font-weight: 600;
  color: var(--primary);
  padding: 0.5rem 0rem 0.8rem 0rem;
}
.article__by {
  color: black;
  font-size: 0.9em;
}
.article__text-content {
  color: black;
  line-height: 1.5rem;
  padding: 2rem 0rem;
}
.article__list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.article__list-item {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--blue);
}
.article__reading-time-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.article__reading-time {
  color: var(--primary);
}
.article__hover {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  display: none;
  color: var(--blue);
}
.article__arrow {
  height: 1rem;
}

.trending {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 17vh;
}
.trending__title {
  color: black;
  text-align: center;
  padding-bottom: 2rem;
}
.trending__container {
  display: flex;
  gap: 2rem;
}
.trending__item {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  margin-bottom: 7vh;
}
.trending__item:hover .trending__list-title {
  color: var(--blue);
}
.trending__main-content {
  padding: 2rem 1rem 1.5rem 1.5rem;
  box-shadow: 0px 0px 4px 1px rgb(216, 216, 216);
}
.trending__main-content:hover {
  box-shadow: 0px 0px 4px 3px rgb(189, 187, 187);
}
.trending__list-title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 900;
  width: 90%;
  padding-bottom: 1rem;
}
.trending__background-image {
  height: 20vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.trending__background-image--first {
  background-image: url(images/trending_bg-1.png);
}
.trending__background-image--second {
  background-image: url(images/trending_bg-2.png);
}
.trending__background-image--third {
  background-image: url(images/trending_bg-3.png);
}
.trending__background-image--forth {
  background-image: url(images/trending_bg-4.png);
}
.trending__link--first:hover .trending__background-image {
  background: linear-gradient(rgba(17, 0, 255, 0.5), rgba(0, 38, 255, 0.5)), url(images/trending_bg-1.png) center/cover no-repeat;
}
.trending__link--second:hover .trending__background-image {
  background: linear-gradient(rgba(12, 6, 90, 0.5), rgba(29, 63, 253, 0.5)), url(images/trending_bg-2.png) center/cover no-repeat;
}
.trending__link--third:hover .trending__background-image {
  background: linear-gradient(rgba(12, 6, 90, 0.5), rgba(29, 63, 253, 0.5)), url(images/trending_bg-3.png) center/cover no-repeat;
}
.trending__link--forth:hover .trending__background-image {
  background: linear-gradient(rgba(12, 6, 90, 0.5), rgba(29, 63, 253, 0.5)), url(images/trending_bg-4.png) center/cover no-repeat;
}
.trending__profile-photo {
  height: 3rem;
  position: absolute;
  top: 78%;
  left: 1.5rem;
}
.trending__more-articles {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.7rem 1.7rem;
  color: black;
  border: 2px solid rgb(224, 223, 223);
  box-shadow: 0 0px 6px 3px rgba(216, 216, 216, 0.6);
  border-radius: 3px;
  margin-left: 45%;
}
.trending__more-articles:hover {
  color: var(--blue);
}

.jobs {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15vh;
  border-bottom: #858484;
}
.jobs__container {
  display: flex;
  flex-direction: row;
}
.jobs__left {
  width: 38%;
}
.jobs__title {
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 2.1rem;
  opacity: 0.9;
  padding-bottom: 1rem;
}
.jobs__text {
  line-height: 1.5rem;
  opacity: 0.8;
  width: 80%;
}
.jobs__right {
  display: flex;
  gap: 2rem;
}
.jobs__column-item {
  color: black;
}

.high-demand {
  background-color: white;
  border-top: 1.5px solid rgb(202, 202, 202);
  padding-top: 10vh;
}

.footer {
  background-color: var(--dark-blue);
}
.footer__container {
  display: flex;
  flex-direction: column;
}
.footer-top {
  color: white;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 1110px) {
  .footer-top {
    width: 90%;
  }
  .footer-top__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .footer-top .underline {
    height: 1px;
    opacity: 0.2;
    width: 90%;
  }
}
.footer-top__wrapper {
  margin-top: 15vh;
}
@media (max-width: 490px) {
  .footer-top__wrapper {
    grid-template-columns: 1fr;
    padding-left: 1rem;
  }
}
.footer-top__column-title {
  color: white;
  opacity: 1;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  white-space: nowrap;
}
.footer-top__column-link {
  color: white;
  opacity: 0.95;
}
.footer-center {
  width: 90%;
  margin: 0 auto;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(167, 167, 167, 0.5);
  border-top: 1px solid rgba(167, 167, 167, 0.5);
  padding: 1.3rem;
  gap: 1rem;
}
@media (max-width: 770px) {
  .footer-center {
    display: flex;
    flex-direction: column;
  }
}
.footer-center__space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 770px) {
  .footer-center__space-between {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
}
.footer-center__logo {
  height: 4rem;
}
.footer-center__text {
  color: white;
  font-weight: 900;
}
.footer-center__socials {
  display: flex;
  gap: 2rem;
}
.footer-center__socials-image {
  height: 1.5rem;
}
.footer-center__socials-image:hover {
  transform: scale(1.1);
}
.footer-center__socials-image:active {
  transform: scale(0.7);
}
.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  font-size: 0.875rem;
  margin-top: 2rem;
  margin-bottom: 12vh;
  align-items: center;
}
@media (max-width: 770px) {
  .footer-bottom {
    flex-direction: column;
  }
}
.footer-bottom__copyright {
  border-right: 1px solid white;
  color: white;
  padding-right: 1rem;
}
.footer-bottom__menu {
  display: flex;
  gap: 1rem;
}
.footer-bottom__link {
  color: white;
}
.footer-bottom__link:hover {
  color: #a7a7a7;
}/*# sourceMappingURL=styles.css.map */